.CarDetailsMain {
    padding: 30px 50px;
    background-color: #f5f5f5;
}

.CarDetailsMain .CarDetailsBox {
    border-radius: 10px;
    padding: 35px;
    background: #FFF;
    display: grid;
    grid-template-columns: calc(50% - 17.5px) calc(50% - 17.5px);
    gap: 30px;
}

.CarDetailsMain .CarDetailsBox .LocationMain {
    margin-top: 25px;
}

.heading h1 {
    margin: 0;
    font-size: 30px;
    font-family: var(--outfitMedium);
}

.CarDetailsMain .CarDetailsBox .RightSideBox h6 {
    color: #1F1F1F;
    font-family: var(--outfitMedium);
    font-size: 26px;
    font-weight: 400;
    margin: 0;
}

.CarDetailsMain .CarDetailsBox .carDetails {
    margin-top: 16px;
}

.CarDetailsMain .CarDetailsBox .carDetails .headingAndTag h1 {
    color: #1F1F1F;
    font-family: var(--outfitMedium);
    ;
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}

.CarDetailsMain .CarDetailsBox .carDetails .headingAndTag span {
    color: #1F1F1F;
    font-family: var(--outfitRegular);
    font-size: 36px;
    font-weight: 400;
}

.CarDetailsMain .CarDetailsBox .carDetails .TotalPrice {
    margin-top: 20px;
}

.CarDetailsMain .CarDetailsBox .carDetails .TotalPrice span {
    color: #3F3F3F;
    font-family: var(--outfitRegular);
    font-size: 34px;
}

.CarDetailsMain .CarDetailsBox .carDetails .TotalPrice span b {
    font-family: var(--outfitMedium);
}

.CarDetailsMain .CarDetailsBox .carDetails .TotalPrice span+span {
    font-family: var(--outfitRegular);
    font-size: 30px;
    border-left: 2px solid #05BF61;
    padding-left: 12px;
    margin-left: 12px;
}

.CarDetailsMain .CarDetailsBox .carDetails .othersDetails {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.CarDetailsMain .CarDetailsBox .carDetails .othersDetails .box {
    display: flex;
    width: 142px;
    height: 51px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.50);
}

.CarDetailsMain .CarDetailsBox .carDetails .othersDetails .box .color {
    width: 28px;
    height: 28px;
    border-radius: 3px;
}

.CarDetailsMain .CarDetailsBox .BookingDetails {
    margin-top: 20px;
}

.CarDetailsMain .CarDetailsBox .BookingDetails .RentalPeriodHeading {
    color: #222B45;
    font-family: var(--outfitRegular);
    font-size: 26px;
    margin: 0;
}

.CarDetailsMain .CarDetailsBox .BookingDetails .RentalPeriodGridBoxMenu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(5, auto); */
    gap: 10px;
    margin: 20px 0;
}

.CarDetailsMain .CarDetailsBox .BookingDetails .RentalPeriodGridBoxMenu .RentalPeriodGridBoxMenuItem {
    max-width: 145px;
    width: 100%;
    border-radius: 12px;
    background: #F7F8FA;
    padding: 14px;
    text-align: center;
    box-sizing: border-box;
}

.CarDetailsMain .CarDetailsBox .BookingDetails .RentalPeriodGridBoxMenu .RentalPeriodGridBoxMenuItem.selected {
    background-color: #04C061;
}

.CarDetailsMain .CarDetailsBox .BookingDetails .RentalPeriodGridBoxMenu .RentalPeriodGridBoxMenuItem .heading {
    color: #24273A;
    margin: 6px 0;
    font-size: 20px;
}

.CarDetailsMain .CarDetailsBox .BookingDetails .RentalPeriodGridBoxMenu .RentalPeriodGridBoxMenuItem .price {
    color: #95989F;
    font-size: 16px;
}

.CarDetailsMain .CarDetailsBox .BookingDetails .RentalPeriodGridBoxMenu .RentalPeriodGridBoxMenuItem.selected .heading,
.CarDetailsMain .CarDetailsBox .BookingDetails .RentalPeriodGridBoxMenu .RentalPeriodGridBoxMenuItem.selected .price {
    color: #ffffff;
}

.CarDetailsMain .CarDetailsBox .BookingDetails .RentalPeriodGridBoxMenu>div>img {
    width: 100%;
}

.CarDetailsMain .CarDetailsBox .BookingDetails .RentalPeriodPickupDate {
    position: relative;
}

.CarDetailsMain .CarDetailsBox .BookingDetails .RentalPeriodPickupDate .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 1999;
}

.CarDetailsMain .CarDetailsBox .BookingDetailsMain button {
    width: 100%;
    min-width: 200px;
    height: 50px;
    background-color: #090168;
    font-size: 20px;
    border-radius: 10px;
    text-transform: capitalize;
    margin-top: 10px;
    font-family: var(--outfitSemiBold) !important;
}

.CarDetailsMain .CarDetailsBox .BookingDetailsMain button.EditDetails {
    background-color: transparent;
    font-size: 18px;
    text-decoration: underline;
    font-family: var(--outfitRegular) !important;
}

.CarDetailsMain .CarDetailsBox .BookingDetailsMain .BookingDetails .details {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.CarDetailsMain .CarDetailsBox .BookingDetailsMain .BookingDetails .details+.details {
    margin-top: 25px;
}

.CarDetailsMain .CarDetailsBox .BookingDetailsMain .BookingDetails .details img {
    min-width: 30px;
    width: 30px;
}

.CarDetailsMain .CarDetailsBox .BookingDetailsMain .BookingDetails .details .text h6 {
    margin: 0;
    color: #05BF61;
    font-family: var(--outfitRegular);
    font-size: 30px;
}

.CarDetailsMain .CarDetailsBox .BookingDetailsMain .BookingDetails .details .text p {
    color: #3F3F3F;
    font-family: var(--outfitMedium);
    font-size: 26px;
    margin-top: 8px;
}

.CarDetailsMain .CarDetailsBox .BookingDetails .error {
    margin-top: 20px;
    color: red;
    text-transform: capitalize;
    text-align: center;
}

.rs-picker-date a {
    text-align: left !important;
}

.rs-picker-daterange-header {
    font-family: var(--outfitRegular) !important;
    color: #0d256e;
}

.rs-picker-menu {
    left: 50%;
    transform: translateX(-25%);
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 15px 3px #00000040;
    overflow: visible;
    z-index: 12999;
}

.rs-picker-menu::before {
    content: '';
    display: inline-block;
    background-color: #ffffff;
    position: absolute;
    top: -15px;
    left: 30%;
    width: 15px;
    height: 15px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.rs-picker-menu .rs-calendar {
    min-width: 300 !important;
}

.rs-btn-primary {
    background-color: #090168 !important;
    padding: 10px 18px !important;
    border-radius: 2px !important;
}

.rs-picker-menu .rs-picker-toolbar-ranges {
    display: none;
}

.rs-picker-daterange-menu .rs-picker-toolbar {
    max-width: 100%;
}

.rs-picker-daterange-menu .rs-picker-toolbar .rs-picker-toolbar-right button {
    background-color: #010039;
    padding: 10px 22px;
    border-radius: 2px;
}

.rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
    border-color: #17995B;
    border-radius: 50%;
}

.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
    background-color: rgb(5, 190, 97) !important;
    border-radius: 100px;
}

.rs-calendar-table-cell-selected-start::before {
    width: 50%;
    right: 0;
    height: 30px;
    margin-top: 0;
    background-color: #E7F8F0;
}

.rs-calendar-table-cell-selected-end::before {
    width: 50%;
    left: 0;
    height: 30px;
    margin-top: 0;
    background-color: #E7F8F0;
}

.rs-picker-menu .rs-calendar .rs-calendar-table-cell .rs-calendar-table-cell-content {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rs-picker-menu .rs-calendar .rs-calendar-table-cell:hover .rs-calendar-table-cell-content {
    color: rgb(5, 190, 97);
}

.rs-picker-menu .rs-calendar .rs-calendar-table-cell-selected:hover .rs-calendar-table-cell-content {
    color: white
}

.rs-calendar-table-cell-in-range::before {
    height: 30px;
    margin-top: 0;
    background-color: #E7F8F0;
}

.rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
    box-shadow: inset 0 0 0 1px rgb(5, 190, 97) !important;
}

.rs-picker-daterange-menu .rs-calendar:first-child {
    border-right: none !important;
}

.rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
    color: rgba(59, 59, 59, 0.64) !important;
    padding-left: 16px;
    max-width: 130px;
}

.rs-calendar-table-cell-content {
    font-size: 14px;
    color: #455997;
    font-weight: 500;
}

.rs-picker-toolbar {
    border-top: none !important;
}

.rs-anim-fade.rs-anim-in {
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.rs-picker-default .rs-picker-toggle.rs-btn {
    padding-top: 11px;
    padding-bottom: 11px;
}

.rs-picker-toggle-wrapper {
    min-width: 100%;
}

.CancellationPolicy {
    margin-top: 20px;
}

.CancellationPolicy ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.CancellationPolicy ul li {
    display: flex;
    align-items: baseline;
    gap: 12px;
}

.CancellationPolicy ul li::before {
    content: '';
    min-width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3F3F3F;
}

.CancellationPolicy ul li .details h4 {
    font-family: var(--outfitMedium);
    color: #1F1F1F;
    font-size: 26px;
}

.CancellationPolicy ul li .details p {
    font-family: var(--outfitRegular);
    color: #3F3F3F;
    font-size: 22px;
}


@media screen and (max-width: 1199px) {
    .CarDetailsMain {
        padding: 30px 20px;
    }

    .CarDetailsMain .CarDetailsBox {
        grid-template-columns: auto
    }
}

@media screen and (max-width: 567px) {
    .CarDetailsMain .CarDetailsBox {
        padding: 18px;
    }

    .CarDetailsMain .CarDetailsBox .RightSideBox h6 {
        font-size: 18px;
    }

    .CarDetailsMain .CarDetailsBox .carDetails .headingAndTag h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .CarDetailsMain .CarDetailsBox .carDetails .TotalPrice span {
        font-size: 28px;
    }
}

.MuiDialogContentMainBody {
    text-align: left;
    margin-bottom: 20px;
}

.MuiDialogContentMainBody label {
    font-size: 20px;
    font-family: var(--outfitRegular);
    color: #3f3f3f;
}

.MuiDialogContentMainBody .rs-picker-date {
    margin-top: 15px;
    border-radius: 5px;
    border: solid 1px #979797;
    opacity: 1;
}

.MuiDialogContentMainBody .rs-picker-default .rs-picker-toggle.rs-btn {
    background-color: transparent !important;
}

.rs-picker-toggle-value {
    color: #8f8f9c;
    font-family: var(--outfitBold);
}

.MuiDialogContentMainBody .rmdp-wrapper {
    width: 100%;
    width: 730px;
}

.MuiDialogContentMainBody .rmdp-wrapper div {
    width: 100%;
}

.MuiDialogContentMainBody .rmdp-header-values {
    color: #0d256e;
    font-size: 18px;
    font-family: var(--outfitMedium);
}

.MuiDialogContentMainBody .rmdp-wrapper .rmdp-day,
.MuiDialogContentMainBody .rmdp-wrapper .rmdp-week-day {
    height: 50px;
}

.MuiDialogContentMainBody .rmdp-wrapper .rmdp-week-day {
    color: #b2b2b2;
}

.MuiDialogContentMainBody .rmdp-day.rmdp-today span {
    border: solid 3px #00a752;
    background-color: transparent;
    color: #000;
}

.MuiDialogContentMainBody .rmdp-day.rmdp-selected span:not(.highlight),
.MuiDialogContentMainBody .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
    background-color: #05bf61;
    box-shadow: none
}

.RentalPeriodnModalActionBtn {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.detailTitle {
    font-size: 30px;
    line-height: 22px;
}

.detailValue {
    font-size: 26px;
    letter-spacing: 0;
}

@media (max-width: 567px) {
    .detailTitle {
            font-size: 24px !important; 
            line-height: 0.75;
    }
    
    .detailValue {
        font-size: 22px !important;
    }
}
