.logoContainerStyle { 
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logoImgStyle {
    max-width: 155px;
}
#rightBoxContainer {
    height: 100vh;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}
.backToHomeContainer {
    flex-grow: 1;
    width: 100%;
    align-items: flex-end;
}
.backToHomeButton {
    color: #828282;
    font-weight: 600;
    font-size: 18px !important;
    text-decoration: underline !important;
    cursor: pointer;
    padding: 0px !important;
}
.verificationForm {
    padding-left: 60px!important;
    padding-right: 140px!important;
    width: 100% !important;
    box-sizing: border-box;
}
.forgotpassHeader .title {
    width: 100%;
    text-align: center;
}
#newPasswordForm .MuiGrid-spacing-xs-3 > .MuiGrid-item {
    margin-bottom: 12px;
}
@media only screen and (max-width: 900px) {
    #rightBoxContainer {
        height: 50vh;
        padding: 10px 20px;
        align-items: center;
        min-height: 400px;
    }
    .backToHomeButton {
        font-size: 14px !important;
    }
    .logoContainerStyle {  
        margin-bottom: 10px;
    }
    .logoImgStyle {
        max-width: 80px;
    }
    .forgotpassHeader .paragraph {
        font-size: 14px;
    }
    .verificationForm {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    #newPasswordForm .MuiGrid-container {
        margin-top: 15px !important;
    }
    .forgotpassHeader {
        margin: 0 !important
    }
    .forgotpassHeader .title {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .forgotpassHeader .title::before {
        height: 3px;
        top: 40px;
    }
    .MuiInputBase-fullWidth {
        height: 50px !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .MuiGrid-item img {
        top: 12px !important;
    }
    .verificationForm .loginHeader {
        margin-top: 0 !important;
    }
    #newPasswordForm .MuiGrid-spacing-xs-3 > .MuiGrid-item {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

