.forgotpassHeader .title {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .forgotpassHeader {
        margin: 0 !important
    }
    .forgotpassHeader .title {
        margin-bottom: 10px;
    }
    .forgotpassHeader .paragraph {
        font-size: 15px;
    }
}
