#rightBoxContainer {
    height: 100vh;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}
.backToHomeContainer {
    flex-grow: 1;
    width: 100%;
    align-items: flex-end;
}
.backToHomeButton {
    color: #828282;
    font-weight: 600;
    font-size: 18px !important;
    text-decoration: underline !important;
    cursor: pointer;
    padding: 0px !important;
}

@media only screen and (max-width: 900px) {
    #rightBoxContainer {
        height: 50vh;
        padding: 10px 20px;
        align-items: center;
        min-height: 400px;
    }
    .backToHomeContainer {
        padding: 20px 0;
    }
    .forgotpassHeader .title {
        margin-bottom: 10px;
    }
    .backToHomeButton {
        font-size: 14px !important;
    }
}
