.logoContainerStyle { 
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.logoImgStyle {
    max-width: 155px;
}
#rightBoxContainer {
    height: 100vh;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}
.backToHomeContainer {
    flex-grow: 1;
    width: 100%;
    align-items: flex-end;
}
.backToHomeButton {
    color: #828282;
    font-weight: 600;
    font-size: 18px !important;
    text-decoration: underline !important;
    cursor: pointer;
    padding: 0px !important;
}
.IsResendContainer {
    max-width: 500px;
    margin-top: 30px;
    text-align: center;
}
.IsResendContainer h2.fontWeightMedium {
    font-size: 20px;
}
.verificationForm {
    padding-left: 60px;
    max-width: 500px;
    box-sizing: border-box;
}
@media only screen and (max-width: 900px) {
    #rightBoxContainer {
        height: 50vh;
        padding: 10px 20px;
        align-items: center;
        min-height: 400px;
    }
    .forgotpassHeader .title {
        margin-bottom: 10px;
    }
    .backToHomeButton {
        font-size: 14px !important;
    }
    .IsResendContainer {
        margin-top: 5px;
        text-align: center;
    }
    .IsResendContainer h2.fontWeightMedium {
        font-size: 14px;
        padding-bottom: 20px !important;
    }
    .logoContainerStyle {  
        margin-bottom: 20px;
    }
    .logoImgStyle {
        max-width: 80px;
    }
    .forgotpassHeader .paragraph {
        font-size: 15px;
    }
    div.forgotpassOtpForm {
        margin: 15px 0 0 !important;
        width: 100% !important;
    }
    .forgotpassOtpForm .isResendHeading {
        font-size: 14px !important;
    }
    .verificationForm {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: auto !important;
    }
    .forgotpassHeader {
        margin: 0 !important
    }
    .MuiGrid-spacing-xs-2 > .MuiGrid-item {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .MuiButton-fullWidth {
        font-size: 16px !important;
        margin-top: 0 !important;
        padding: 10px !important;
    }
    .forgotpassOtpForm .formInputOutline {
        font-size: 15px !important;
        min-height: 60px;
    }
}
