.logoContainerStyle { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}
.logoImgStyle {
    max-width: 155px;
}
.contentForm {
    padding-left: 60px;
    padding-right: 140px;
    width: 100%;
    box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
    .logoContainerStyle {  
        margin-top: 0 !important;
        margin-bottom: 20px !important;
    }
    .logoImgStyle {
        max-width: 80px;
    }
    .contentForm {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: auto !important;
    }
    .forgotpassHeader {
        margin: 0 !important
    }
    .forgotpassHeader .title {
        margin-bottom: 10px;
        font-size: 22px !important;
    }
    .forgotpassHeader .paragraph {
        font-size: 15px;
    }
    .contentForm .MuiGrid-item {
        padding: 12px 0 0 !important;
        box-sizing: border-box;
    }
    .contentForm .MuiInputBase-fullWidth {
        margin: 0 !important;
        height: 48px !important;
        font-size: 14px !important;
    }
    .contentForm img {
        top: 12px !important;
    }
    .contentForm .MuiButton-fullWidth {
        font-size: 16px !important;
        margin-top: 15px !important;
    }
    button.fontWeightMedium {
        right: 0 !important;
    }
    .contentForm .MuiGrid-spacing-xs-3 {
        width: 100% !important;
    }
}
